<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<title><%= @title %></title>
		<meta charset="utf-8">
		<meta name="description" content="<%= @description %>">
	</head>
	<body>
		<header>
			<h1><%= @title %></h1>
		</header>

		<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/about">about</a></li>
				<li><a href="/blog">blog</a></li>
				<li><a href="/projects">projects</a></li>
			</ul>
		</nav>

		<h1>(Proof of layout implementation)</h1>
		<%= yield %>
		<footer>
			<h2>Yo! Ima footer. Copyleft arhx <%= Time.now.year %></h2>
		</footer>
	</body>
</html>
