<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400italic,700italic,400,700|Amatic+SC' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="page-wrap">
      <header>
        <h1 class="site-name">corinne <strong id="middle-name">ren&eacute;e</strong> pingul</h1>
        <nav class="links">
            <% @pages.each do |page| %>
            <!-- bolded current page if HOME -->
              <% if page == "home" && @current == "home" %>
                  <a href="/"><strong><%= page %></strong></a>
              <!-- prints unbolded link to HOME if not current page -->
              <% elsif page == "home" %>
                  <a href="/"><%= page %></a>
              <!-- bolded current page for ABOUT, PROJECTS, BLOG -->
              <% elsif page == @current %>
                  <a href="/<%= page %>"><strong><%= page %></strong></a>
              <!-- prints unbolded link to ABOUT, PROJECTS, blog if not current page -->
              <% else %>
                  <a href="/<%= page %>"><%= page %></a>
              <% end %>
            <% end %>
        </nav>
      </header>

      <%= yield %>

      <footer>
        <a href="https://www.facebook.com/corinne.pingul"><img src="images/facebook_logo.png" alt="Facebook" width="50" height="50"/></a>
        <a href="https://twitter.com/pingulcr"><img src="images/twitter_logo.png" alt="Twitter" width="50" height="50"/></a>
        <a href="https://github.com/corinnepingul"><img src="images/github_logo.png" alt="GitHub" width="50" height="50"/></a>
        <a href="https://instagram.com/pingulcr/"><img src="images/instagram_logo.png" alt="Instagram" width="50" height="50"/></a>
      </footer>
    </div>
  </body>
</html>
